
h5{
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
}

.btn-primary {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  background-color: #0816C8;
  border-radius: 40px;
  border-color: #0816C8;
}

.btn-primary:hover {
  color: #212529;
  background-color: #FFF262;
  border-radius: 40px;
  border-color: #FF4D4D;
  border-width: medium;
}
.col-sm-6 {
  padding-bottom: 10px;
}
.card {
border: 3px solid #0816C8;
padding-left: 15px;
border-radius: 20px;
margin-bottom: 30px;
}

.card img {
  max-height:330px;
}
