<link rel="stylesheet" href="../public/css/image_grid.css">
<div class="row">
  <div class="column">
    <img src="../public/assets/illo_grid/lunarny.jpg">
    <img src="../public/assets/illo_grid/gumdropfrogs.jpg">
    <img src="../public/assets/illo_grid/strawberrycake.jpg">
  </div>
  <div class="column">
    <img src="../public/assets/illo_grid/strawberries.jpg">
    <img src="../public/assets/illo_grid/holiday_takeout.jpg">
    <img src="../public/assets/illo_grid/fuzzy_peach.jpg">
  </div>
  <div class="column">
    <img src="../public/assets/illo_grid/pastel_snake.jpg">
    <img src="../public/assets/illo_grid/lny_lion.jpg">
    <img src="../public/assets/illo_grid/bored_games.jpg">
  </div>
  <div class="column">
    <img src="../public/assets/illo_grid/grandma.jpg">
    <img src="../public/assets/illo_grid/mushroomnight.jpg">

  </div>
</div>
