
<nav class="navbar sticky-top navbar-expand-lg navbar-light">

  <a class="navbar-left" href="/"><img style="max-width: 20px; margin-right: 5px;"
    src= "/public/assets/zhoulogo.png"></a>
  <a class="navbar-brand" href="/">shirzho</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {% assign links = site.data.navigation %}
      {% assign sublinks = link.sublinks %}
      {% for link in links %}
        {% assign class = nil %}
        {% if page.url contains link.url %}
          {% assign class = 'active'}
          <li class="nav-item {{class}} ">
            <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
          </li>
        {%endif%}

        {% else %}
          {% assign class = nil %}
        {% endif %}
        <li class="nav-item {{class}} ">
          <a class="nav-link" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
