---
layout: default
title: About
---
  <div class = "row">
      <div class = "col-md-4">
        <br>
        <br>
        <img src="/public/assets/headshot.png" class="img-fluid" alt="Responsive image" style = "width = 50%">
      </div>

      <div class = "col-md-6">
          <br>
          <br>
            {{content}}
          <br>

            <a href="https://www.linkedin.com/in/shirley-zhou/"><img src= "/public/assets/linkedin.png" style="width:7%">&nbsp;</a>
            <a href="https://www.instagram.com/shur.png/"><img src= "/public/assets/instagram.png" style="width:7%">&nbsp;</a>
            <a href="https://www.github.com/shirzho/"><img src= "/public/assets/github.png" style="width:7%" >&nbsp;</a>
            <a href="https://www.behance.net/shirzho/"><img src= "/public/assets/behance.png" style="width:7%">&nbsp;</a>
            <br>
            <br>


      </div>
    </div>
