---
layout: default
title: About
---
  <div class = "row">
      <div class = "col-md-4">
        <br>
        <br>
        <img src="/public/assets/headshot.png" class="img-fluid" alt="Responsive image" style = "width = 50%">
      </div>

      <div class = "col-md-6">
          <br>
          <br>
            {{content}}
          <br>

            <a id="contact" href="shirzho_public_resume.pdf">🟪 resume</a>
            <br>
            <a id="contact" href="https://www.linkedin.com/in/shirley-zhou/">🟦 linkedin</a>
            <br>
            <a id="contact" href="https://www.instagram.com/shur.png/">🟩 instagram</a>
            <br>
            <a id="contact" href="https://www.behance.net/shirzho/">🟥 behance</a>
            <br>
            <p id="contact">🟨 shirleyzhou7 (at) gmail</p>


      </div>
    </div>
