---
layout: default
title: Shirley Zhou
---
<link rel="stylesheet" href="../public/css/home.css">
<div class = "row" >
  <div class = "col-sm-6" id = "leftside">
    {{content}}
    <a href="/work" class = "cta"> check out my work > </a>
    <img src="../public/assets/peace_sticky.png" class="peace" alt="Responsive image" style = "width: 30%">
  </div>

  <div class = "col-sm-6" id = "rightside">
    <br>
    <br>
    <img src="../public/assets/home_smileys.svg" class="img-fluid" alt="Responsive image">
    <br>
    <br>
    <p> <b>current endeavors:</b> design @ Deloitte Digital </p>
    <p> <b>previous endeavors:</b> sleep-deprived @ Carnegie Mellon </p>
    <br>
    <h2> thanks for stopping by</h2>
    <br>
  </div>
</div>
