---
layout: default
title: Work
---

  {{content}}

  <div class="row">

      <div class="col-sm">
        {%
        include card.html cardtitle="Just Harvest"
        cardlink="/work/justharvest.html"
        cardtext="Service Design, Carnegie Mellon 2019"
        cardimage="/public/assets/harvey_icon.png"
        %}
      </div>

      <div class="col-sm">
        {%
        include card.html cardtitle="Bird Scooters"
        cardlink="/work/bird.html"
        cardtext="Service Design, Carnegie Mellon 2019"
        cardimage="/public/assets/bird_scooter-icon.png"
        %}
      </div>

      <div class="col-sm">
        {%
        include card.html cardtitle="Climbing Conceptual Model"
        cardlink="/work/conceptmod.html"
        cardtext = "Poster design, Carnegie Mellon 2019"
        cardimage="/public/assets/climbing-icon.png"
        %}
      </div>
  </div>
  <div class="row">
      <div class="col-sm">
        {%
        include card.html cardtitle="DoD Product Re-design"
        cardlink="/work/dod.html"
        cardtext = "Deloitte Digital 2019-Present"
        %}
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
      </div>

  </div>
